.image-carousel {
    margin-top: 3%; 
    width: 40%;
    float: left;
}

.carousel { 
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item-information { 
    margin-top: 3%;
    width: 40%;
    float: left;
}

.item-name {
    font-weight: 200;
    font-size: 3vw;
}

.item-sellerName {
    font-size: 1.5vw;
    font-weight: 500;
}

.item-size-dropdown-toggle {
    float: left;
    width: 30%;
    background-color: white;
    border-color: black;
    color: black;
}

.item-size-dropdown-toggle:hover {
    background-color: lightgray;
    border-color: black;
    color: black;
}

.item-size-dropdown-toggle:focus {
    background-color: lightgray;
    box-shadow:none !important;
    border: none !important;
}

.show > .btn-success.item-size-dropdown-toggle {
    background-color: red;
}

.buy-button { 
    display: inline-block;
    margin-left: 5%;
    width: 15%;
}

