.item-div {
    display: inline-block;
    text-align: center;
    width: 15%;
}

.mini-item-image {
    width: 120px;
    margin: 50px;
}

.mini-item-name {
    margin-bottom: 0px
}

.mini-item-sellerName { 
    font-weight: bold;
}